@font-face {
  font-family: 'amiga4ever';
  src: url('fonts/amiga4ever.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('Drawings/Sabody Archipelago Background/Sabody_Archipelago_Background1.png');
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  transition: background-image 0.1s ease-in-out;
  font-family: 'amiga4ever', 'Courier New', Courier, monospace;
  color: rgb(81, 81, 81);
  position: relative;
  min-height: 100vh;
}



#bubbles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}


.invite-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 30px;
  max-width: 350px;
  margin: 50px 0 0 50px;
  text-align: left;
  z-index: 10;
  position: relative;
}

.hidden {
  display: none;
}

.floating-bubble {
  position: absolute;
  bottom: -100px;
  width: 80px;
  opacity: 0.7;
  animation: floatUp 10s linear infinite;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes floatUp {
  0% {
    bottom: -95px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'amiga4ever', 'Courier New', Courier, monospace;
}

button {
  background-color: #ff7f50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'amiga4ever', 'Courier New', Courier, monospace;
}

button:hover {
  background-color: #ff5722;
}

.event-details p {
  margin: 10px 0;
}

.pop-bubble {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  pointer-events: none;
  z-index: 2;
}

@keyframes trailFade {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}


@keyframes popFrames {
  0%   { background-image: url('Drawings/Bubble%20Large/Bubble_Large1.png'); }
  14%  { background-image: url('Drawings/Bubble%20Large/Bubble_Large2.png'); }
  28%  { background-image: url('Drawings/Bubble%20Large/Bubble_Large3.png'); }
  42%  { background-image: url('Drawings/Bubble%20Large/Bubble_Large4.png'); }
  57%  { background-image: url('Drawings/Bubble%20Large/Bubble_Large5.png'); }
  71%  { background-image: url('Drawings/Bubble%20Large/Bubble_Large6.png'); }
  85%  { background-image: url('Drawings/Bubble%20Large/Bubble_Large7.png'); }
  100% { opacity: 0; }


  
}